.features {
    
    @media screen and (min-width: 768px) and (max-width: 960px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    &__title {
        color: $header-color;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: 700;
        @include font(14, 1.14, 0.03);
        text-align: center;
        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }
    &__text {
        color: $text-color;
        font-weight: 400;
        @include font(14, 1.71, 0.03);
        max-width: 450px;
        height: 50px;
        @media screen and (min-width: 768px) and (max-width: 960px) {
            max-width: 354px;
        }
        @media screen and (min-width: 960px) {
            width: 270px;
        }
    }
    &__svg {
        background-color: #F5F4FA;
        max-width: 450px;
        height: 120px;
        border-radius: 4px;
        margin-bottom: 30px;
        @include flex();
        @media screen and (min-width: 768px) and (max-width: 960px) {
            max-width: 354px;
        }
        @media screen and (min-width: 960px) {
            width: 270px;
            height: 120px;
        }
        &:not(:first-child) {
            margin-top: 30px;
        }
    }
    &>li {
        margin: 15px;
        flex-basis: calc((100% - 60px)/2);
    }
}
.features-section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 960px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

}