.logo-footer {
    font-family: 'Raleway';
    @include font(26, 1.19, 0.03);
    color: $main-color;
}
.footer {
    background-color: $background-color;
}
.address {
    padding: 60px 215px;
    height: 252px;
    width: 1600px;

    display: flex;
    align-items: baseline;
}

.address-point {
    color: $main-color;
    font-weight: 400;
    @include font(14, 1.71, 0.03);
    font-style: normal;
    margin-top: 20px;
}

.contacts-list {
    text-decoration: none;
    font-weight: 400;
    @include font(14, 1.71, 0.03);
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    margin-top: 9px;
}

.contacts-list:hover,
.contacts-list:focus {
    color: $logo-color;
}

.foot-addr-item {
    margin-top: 9px;
}

.footer-main-container {
    display: flex;
    align-items: baseline;
}

.address-container {
    margin-right: 70px;
}

.footer-soc-box {
    margin-left: 62px;
}

.footer-soc-title {
    margin-bottom: 30px;
    font-weight: 700;
    @include font(14, 1.14, 0.03);
    text-transform: uppercase;
    color: $main-color;
}

.footer-soc-list {
    display: flex;
}

.footer-soc-items {
    width: 44px;
    height: 44px;
}

.footer-soc-items:not(:last-child) {
    margin-right: 10px;
}

.footer-soc-link {
    @include flex();
    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: $duration $timing-function;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: $logo-color;
}

.footer-soc-icons {
    fill: $main-color;
}
.label-subscribe {
    font-weight: 700;
    @include font(14, 1.14, 0.03);
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 20px;
}

.input-subscribe {
    width: 358px;
    height: 50px;

    padding-left: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    transition: border $duration $timing-function;
}

.form-subscribe {
    margin-left: 123px;
    margin-right: 0;

    min-width: 570px;
}

.btn-subscribe {
    display: flex;
    align-items: center;

    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding-left: 28px;

    font-family: inherit;
    @include font(16, 1.88, 0.06);
    font-weight: 700;
    color: $main-color;
    background-color: $logo-color;

    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color $duration $timing-function;
}

.btn-subscribe:hover,
.btn-subscribe:focus {
    background-color: $focus-btn-color;
}

.subscribe-icon {
    fill: currentColor;
    margin-left: 10px;
}

.subscribe-box {
    display: flex;
    align-items: center;
}