.hero {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 200px;
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 118px 0;
    &__title {
        color: $main-color;
        font-weight: 900;
        @include font(26, 1.61, 0.06);
        max-width: 360px;
        text-transform: uppercase;
        margin-bottom: 30px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        @media screen and (min-width: 960px) {
            @include font(44, 1.36, 0.06);
            padding-top: 200px;
            width: 608px;
            max-width: 1600px;
        }
    }
    &__btn {
        padding: 10px 24px;

        color: $main-color;
        background-color: $logo-color;
        border: 0;

        font-weight: 700;
        
        cursor: pointer;
        font-family: inherit;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        @include font (16, 1.87, 0.05);
    
        min-width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;    
        transition: $duration $timing-function;
        @media screen and (min-width: 960px) {
            @include font (16, 1.87, 0.06);
            width: 216px;
        
        }
    }
    &__btn:hover,
    &__btn:focus {
        cursor: pointer;
        background-color: $focus-btn-color;
    }
    @media screen and (min-width: 768px) and (max-width: 960px) {
        max-width: 767.98px;
    }
    @media screen and (min-width: 960px) {
        height: 600px;
        max-width: 1600px;
        padding: 0;
    }
}
@media (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_mobile2x.jpg);
    }
}
@media (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_tablet.jpg);
    }
        @media (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_tablet2x.jpg);
            }
        }
}
@media (min-width: 960px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_desktop.jpg);
    }

    @media (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_desktop2x.jpg);
        }
    }
}



