body {
    font-family: $primary-font;
    letter-spacing: 0.03em;
    background: $main-color;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
.marker {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}