$header-color: #000000;
$text-color:  #757575;
$main-color:  #ffffff;
$logo-color: #2196f3;
$portfolio-main: #212121;
$background-color: #2f303a;
$header-bgc: #ececec;
$focus-btn-color: #188ce8;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;

$primary-font: 'Roboto', sans-serif;